# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp stuff
*.swp
Gemfile.lock

# and the generated output
pkg/*

# never include private bins!
meterpreter/ext_server_pivot.*
